<div>
  <h2 class="text-white text-center mt-4">Registration</h2>

  <div class="bg-grey login-panel">
    <div class="">
      <div class="mt-3 text-center">
        <h2 class="p-3 fw-500">Thank You</h2>
      </div>

      <div class="container pb-5 text-center">
        <h4 class="fw-600">You have successfullly registerd.</h4>

        <div class="mt-3">
          <button (click)="login()" class="register-btn rounded-pill my-2 mx-1">
            Login
          </button>
          <button [routerLink]="''" class="login-btn rounded-pill my-2 mx-1">
            Back to home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
