<div class="container mt-2">
  <div class="content my-3">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginForm.valid && onSubmit()"
      autocomplete="off"
    >
      <div class="row card bg-white login_form mx-auto d-flex flex-row">
        <div class="col-xl-6 col-sm-12 mx-auto">
          <div class="p-5">
            <div class="login-title">
              <h4 class="m-0 font-bold text-center text-dark">Log In</h4>
            </div>
            <div class="login-form">
              <div class="form-carry">
                <div class="single-row my-4 position-relative">
                  <input
                    type="text"
                    class="form-control py-4 form"
                    placeholder="Enter Username"
                    id="username"
                    formControlName="username"
                    name="username"
                    required
                  />
                  <img
                    *ngIf="
                      loginForm.controls['username'].touched &&
                      loginForm.controls['username'].valid
                    "
                    src="assets/images/success-tick.svg"
                    class="form-icon-staus invalid-feedback d-inline-block"
                  />
                  <div>
                    <div
                      *ngIf="
                        loginForm.controls['username'].touched &&
                        loginForm.controls['username'].invalid
                      "
                      class="invalid-feedback d-block error-msg"
                    >
                      Username is required
                    </div>
                  </div>
                </div>
                <div class="single-row my-4 position-relative">
                  <input
                    type="password"
                    class="form-control py-4 form"
                    id="password"
                    formControlName="password"
                    name="password"
                    placeholder="Enter password"
                    required="true"
                    minlength="5"
                    [type]="showPassword ? 'text' : 'password'"
                  />
                  <div class="toggler">
                    <img
                      src="assets/images/eye_close.svg"
                      class="form-icon-staus d-block"
                      (click)="showPassword = !showPassword"
                      *ngIf="showPassword"
                    />
                    <img
                      src="assets/images/eye_open.svg"
                      class="form-icon-staus d-block hide"
                      (click)="showPassword = !showPassword"
                      *ngIf="!showPassword"
                    />
                  </div>
                  <div>
                    <div
                      *ngIf="
                        loginForm.controls['password'].touched &&
                        loginForm.controls['password'].invalid
                      "
                      class="invalid-feedback d-block error-msg"
                    >
                      Password is required
                    </div>
                  </div>
                </div>

                <div class="h-blank"></div>
                <div class="single-row mt-5">
                  <button
                    class="login-btn btn btn-info bg-main text-white"
                    type="submit"
                    [disabled]="isDisabled"
                  >
                    Sign In
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
